@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
} */

#site-main {
  margin-bottom: 60px;
} 

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

/* @media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}  */




/* ---- components ---- */

.button {
  width: 100%;
  
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */


.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /*margin: -20px 0 0 0; */
}
/* .splash-screen h1{


  display :flex;
  z-index: 100;
  font-size: 10em;
  color: pink;
} */

@-webkit-keyframes name {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes name {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.splash-screen .name {

  width: 80%;
  height:auto;
  animation: name 3s infinite;
  z-index: 100;
}

.splash-screen button {

  animation: name 0.5s infinite;  
  z-index: 100;
  width: 30%;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
  color:rgb(53, 54, 73);
  padding: 1% 4%;
  background-color:rgba(231, 210, 210, 0.4);
  border: 5px solid rgb(255, 3, 234);
  border-radius: 40px;
  
}
  




.background-spash{
  position:absolute;
  z-index: 0;
}

.background{
  width: 2400px;
  height: 100vh;
  margin: -20px 0 0 0;
}

.game-screen {
  
  width: 100%;
  /*width: 4400px;*/
  height: 100vh;
  /*margin: -20px 0 0 0;*/
  background-color: rgb(211, 243, 242  );
  
}

.gameover-screen {
  
  width: 200vh;
  height: 100vh;
  margin: -20px 0 0 0;
  background-color: rgb(136, 113, 78);
}

#label {

 font-size: 20px;
 z-index: 1000;
}

.hub{
  position:absolute;
  z-index: 1000;
  color: white;
  background-color: black;
  margin: 20px 0 0 0;
}



